# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#jax repository
/jax/
# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
myenv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env/
venv.bak/
venv_old/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# macOS
.DS_Store

# Logs
*.log

# Output directories
Output_Parameter_Maps/
Output_Statistics/

# Shell scripts (if you don't want to track installer scripts)
Miniforge3-MacOSX-arm64.sh

